<!DOCTYPE html>
<html lang="en">
<head>
    <title>about</title>
    <link rel="icon" href="img/weather.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>
    <div class="main-content">
     {{>header}}
     <p>This site is created by MJ.And this website get the data from weather stack about weather </p>
    <img class="portrait" src="/img/varma.png">
    <p>{{des}}</p>
    </div>
    
    {{>footer}}
</body>
</html>